# Ignorar dependências e build
node_modules
dist
coverage
.cache

# Ambientes e logs
.env
.env.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de controle e sistema
.git
.gitignore
.DS_Store
Thumbs.db

# Arquivos temporários do sistema operacional
*.swp
*.swo

# Arquivos do Docker e Compose
Dockerfile
docker-compose.yml

# Backups e arquivos compactados
*.zip
*.tar
*.gz

# Outros artefatos
.vscode
.idea
**/__pycache__/
